table.mgevemattracts_summary {
	font-size:11px;
	border-width: 1px;
	border-collapse: collapse;
}

table.mgevemattracts_summary th {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
}
table.mgevemattracts_summary td {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
}



.mgevemattracts_form{
	font-size:10px;
	border-width: 1px;
	border-collapse: collapse;
	padding: 0px 5px 0px 5px;
	margin: 0px 0px 0px 0px;
}
.mgevemattracts_td_title {
	font-size:10px;
	text-align: right;
	border-width: 1px;
	border-style: solid;
	padding: 0px 5px 0px 5px;
	margin: 0px 0px 0px 0px;
}
.mgevemattracts_td_quantity  {
	font-size:10px;
	border-width: 1px;
	border-style: solid;
	padding: 0px 5px 0px 5px;
	margin: 0px 0px 0px 0px;
}

.mgevemattracts_summary{
	font-size:11px;
	border-width: 1px;
	border-collapse: collapse;
}